doctype html
html(lang="en")
	head
		title MontyHacks
		link(rel="stylesheet" href="stylesheets/style.css")
		link(rel="stylesheet" href="stylesheets/bootstrap.min.css")
		link(rel="stylesheet" href="stylesheets/fa/css/font-awesome.min.css")
		meta(charset="utf-8")
		link(href="https://fonts.googleapis.com/css?family=Inconsolata|Rubik" rel="stylesheet")
		meta(name="viewport" content = "width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
		script(src="javascripts/jquery.min.js")
		script(src="javascripts/bootstrap.min.js")
	body
		#main
		.navbar.navbar-expand-lg.navbar-light.vis#nav
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navBarMark" aria-controls="navBarMark" aria-expanded="false" aria-label="Toggle Navigation")
				span.navbar-toggler-icon
			.collapse.navbar-collapse#navBarMark
				.navbar-nav
					a.nav-item.nav-link.active(href="#") HOME
						span.sr-only (current) 
					a.nav-item.nav-link(href="#about") ABOUT
					a.nav-item.nav-link(href="#faq") FAQ
					a.nav-item.nav-link(href="#schedule") SCHEDULE
					a.nav-item.nav-link(href="#sponsors") SPONSORS
		#header
			img#logo(src="images/montyhacks.png" style="height:30%;")
			.side
				img#mobilelogo.im
				.back
					h1 MontyHacks II
					h2 Full Circle
				hr.line-short
				#dark
					h2 Montgomery High School
					h2 April 21 2018
				.buttons
					.b
						h1 Login
					.b
						h1 Register
		.visible#about
			.container
				.text-center
					h3.title ABOUT
					hr.line.lineAbout
					h2 WHAT IS MONTYHACKS?
					.row.align
						.tom
							h3 MontyHacks is a 12-hour hackathon at Montgomery High School, happening on April 21st, 2018. It aims to spread a passion for computer science to high school students in the tri-state area. 
					h2 FULL CIRCLE
					.row.align
						.tom
							h3 MontyHacks II fully embraces our mission of promoting “hacking for social good” with its new theme, “Full Circle.” Participants are encouraged to consider the good of their own communities—their schools, towns, countries, and world at large—as they learn and build projects throughout the day. We believe that it is important for innovative new technologies to not exist in a void, but rather for the benefit of the societies around them. We’d also like to see participants recognize and aim to give back to the people and organizations that have shaped their growth as students and human beings. It is our hope that apps are developed at MontyHacks II such as a website for a local animal shelters, a mobile app encouraging usage of solar energy, etc. Prize categories will be in line with our theme as well.
		#faq
			h1.faqTitle FAQ
			hr.line.light-b
			.container.pad#miz
					h2 A hackathon is a coding "competition" where hackers race to complete their own product, website, game, app, or piece of hardware to win prizes, meet new friends, and learn.
			.row#adjust
				.col-md-4
					h2 Prizes
					h3 There's ton of things to win at MontyHacks! Our prize categories are : Environmental, Health/Fitness, Education, Game, and Mobile Application!
					br
					h2 Who can attend?
					h3 Any student who will be in high school for the 2016-2017 school year can apply! If you are an exception, please contact us.
					br
					h2 How much does it cost?
					h3 The cost is free for all hackers!
					br
					h2 Can I use something I hacked before the event?
					h3 Unfortunately, you can't. Please don't start your hack until after the ceremony if you plan to submit it.
				.col-md-4
					h2 What should I bring?
					h3 Bring your laptop, phone, chargers for both, and a sleeping bag (if necessary)! You may also want headphones, a mouse, or any other electronic accessory that makes you more comfortable in a working environment.
					br
					h2 When will applications be open?
					h3 Applications will open soon.
					br
					h2 How will the selection process go?
					h3 Hackers will be reviewed based on their application, with regards to experience, relative interest, etc. Note that we are trying to accept everybody who registers and accomodate for those coming as a a team.
				.col-md-4
					h2 Do I need to join a team in order to apply/hack?
					h3 No, there will be time for team formation at the beginning of the event. Solo hackers are equally welcome!
					br
					h2 How large can a team be?
					h3 A team will be capped at 4 students.
					br 
					h2 Will you provide travel reimbursement?
					h3 Unfortunately we are unable to provide travel reimbursement at this time.
					br
					h2 What if I don't know how to code beforehand?
					h3 That's alright! We'll have mentors and workshops to guide you through the hackathon. Students of all levels are encouraged to attend.
		#schedule
			h1#scheduleTitle SCHEDULE
			hr.line.lineAbout
			.scheduleContainer
				.text-center#cent
					h2 TBD
		#sponsors
			.container
				.text-center.p
					h3.title SPONSORS
					hr.line.light-b
					.row.align
						.mod
							h3 Want to sponsor us at MontyHacks II? Email us at 
							a(href="mailto:montycompsci@gmail.com") montycompsci@gmail.com
	
		
		
	.footer
		.row.p
			.col.align
				a(href="https://www.facebook.com/MontyHacks/")
					i.icon.fa.fa-facebook(aria-hidden="true")
				a(href="https://twitter.com/montyhacks")
					i.icon.fa.fa-twitter(aria-hidden="true")
				a(href="https://instagram.com/montyhacks")
					i.icon.fa.fa-instagram(aria-hidden="true")
				.inline.align
					img(src="images/montyhacks.png" style="height:2em;") 
					h4#copy &copy MontyHacks 2018	
								
					

		