doctype html
html(lang="en")
	head
		title MontyHacks
		link(rel="stylesheet" href="stylesheets/style.css")
		link(rel="stylesheet" href="stylesheets/bootstrap.min.css")
		link(rel="stylesheet" href="stylesheets/fa/css/font-awesome.min.css")
		meta(charset="utf-8")
		link(href="https://fonts.googleapis.com/css?family=Inconsolata|Rubik" rel="stylesheet")
		meta(name="viewport" content = "width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
		script(src="javascripts/jquery.min.js")
		script(src="javascripts/bootstrap.min.js")
	body
		#main
		.navbar.navbar-expand-lg.navbar-light.vis#nav
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navBarMark" aria-controls="navBarMark" aria-expanded="false" aria-label="Toggle Navigation")
				span.navbar-toggler-icon
			.collapse.navbar-collapse#navBarMark
				.navbar-nav
					a.nav-item.nav-link.active(href="#") HOME
						span.sr-only (current) 
					a.nav-item.nav-link(href="#sponsors") SPONSORS
		#header
			img#logo(src="images/montyhacks.png" style="height:30%;")
			.side
				img#mobilelogo.im
				.back
					h1 MontyHacks II
					h2 Full Circle
				hr.line-short
				#dark
					h2 Montgomery High School
					h2 April 21 2018
				.buttons
					.b
						h1 Login
					.b
						h1 Register
		#sponsors
			.container
				.text-center
					h3.title.dark-c SPONSORS
					hr.line.dark-b
					.row.align
						.mod
							h3.dark-c Want to sponsor us at MontyHacks II? Email us at 
							a(href="mailto:montycompsci@gmail.com") montycompsci@gmail.com
	//-
		.visible#about
			.container
				.text-center
					h3.title ABOUT
					hr.line
					.row.align
						.mod
							h3 Montgomery High School's second 12-hour hackathon! Come to learn, and create cool projects with cutting-edge hardware, technology, and mentorship!
		
	.footer
		.row.p
			.col.align
				a(href="https://www.facebook.com/MontyHacks/")
					i.icon.fa.fa-facebook(aria-hidden="true")
				a(href="https://twitter.com/montyhacks")
					i.icon.fa.fa-twitter(aria-hidden="true")
				a(href="https://instagram.com/montyhacks")
					i.icon.fa.fa-instagram(aria-hidden="true")
				.inline.align
					img(src="images/montyhacks.png" style="height:2em;") 
					h4#copy &copy MontyHacks 2018	
								
					

		