html,
body{
	height:100%;
	width:100%;
}
#start{
	font-family:"Noto Sans";
}
.container{
	display:table;
	position:relative;
	width:100%;
	height:100%;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	background-size: cover;
 	-o-background-size: cover;
}
.text-vertical-center{
	display:table-cell;
	text-align: center;
	vertical-align: middle;
	color:black;
	font-size:2em;
}
#box{
	padding-top:10px;
	width:100%;
}
#go{
	padding-top:20px;
}
.button:hover{
	border:solid green;
}
#reg{
	text-decoration: none;
}
#reg:hover{
	color:green;
}
#alert{
	bottom: 0;
	position:absolute;
	width:100% !important;
}
.button{
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-o-border-radius:0;
	background-color: transparent;
	border:solid #000;
	box-sizing: border-box;
	color:#000;
	display: inline-block;
	margin:0;
	padding:15px;
	height:56px;
	width:100%;
	line-height: 20px;
	transition:border 2s,color 2s;
	-webkit-transition:border 2s,color 2s;
}